@charset "UTF-8";
/* CSS Document */
#content .tabWrapper {
	position: relative;
	padding-top: 30px;
}
.tabWrapper ul.navi {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabWrapper ul.navi li {
	position: absolute;
	top: 45%;
	left: 5%;
	width: 50px;
	height: 50px;
	background-color: #46B7D5;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #FFF;
	padding: 10px;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
}
.tabWrapper ul.navi li.nextBtn {
	left: auto;
	right: 5%;
}
.tabs {
	margin: 0 auto;
	padding: 10px;
	border-radius: 30px;
	border: 1px solid #DDD;
	background-color: #EEE;
	width: 80%;
	box-sizing: border-box;
	height: 60px;
}
.tabs.twoTabs li {
  	width: 50%;
}
.tabs li {
	margin: 0;
	padding: 0;
	display: block;
	border: 1px solid #FFF;
	background-color: #DDD;
	width: 33%;
	float: left;
	border-right: 0px;
	box-sizing: border-box;
	height: 40px;
}
.tabs li a {
	text-align: center;
	font-size: 16px;
	display: block;
	padding-top: 8px;
	height: 40px;
	color: #666;
}
.tabs li:first-child {
  	border-radius: 20px 0 0px 20px;
}
.tabs li:last-child {
  	border-radius: 0px 20px 20px 0px;
}
.tabs li:hover {
  	box-shadow: inset 0px 0px 3px rgba(0,0,0,.5);
}
.tabs li.active {
  	background-color: #46B7D5;
  	box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
}
.tabs li.active a {
  	color: #FFF;
  	text-decoration: none;
}
.tabs a,
#content .tabs a:hover,
#content .tabs a:active {
  	text-decoration: none;
}
.tabs a:hover {
  	color: #000;
}
.panes {
  	width: 80%;
  	margin: 0 auto;
  	padding: 50px 20px;
}
.modal-body .tabWrapper .panes {
  	padding: 10px 0 !important;
  	height: auto !important;
}
.modal-body ul.navi {
  	display: none;
}
.panes .pane {
  	display: none;
}
.panes .pane.active {
}

